.winner-icon {
    position: absolute;
    color: goldenrod;
    top: -20px;
    left: calc(85% + 1vw);
    transform: rotate(90deg);
}
.winner .react-player__preview {
    border-color: goldenrod;
    border-width: 1px;
}

.winner iframe {
    border-color: goldenrod;
    border-width: 1px;
}
