.honorableMention {
  opacity: 0;
  display: table-cell;
}

.rowHeader:hover .honorableMention {
  display: table-cell;
  color: #54b9c5;
  margin-right: 4px;
  font-weight: 700;
  transform: translate(1vw, 0);
  transition: max-width 1s, opacity 1s, transform 750ms, -webkit-transform 750ms,
    -moz-transform 750ms, -o-transform 750ms;
  /* max-width: 200px; */
  opacity: 1;
}
