/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

body {
  margin: 0;
}
body,
html {
    background-color: #141414;
    line-height: 1.2;
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.aspect-w-16.aspect-h-9 img, .react-player__preview, iframe {
    border-radius: 5%;
}

h1 {
    color: #e50914;
}

.title-challenge {
    display: flex;
    justify-content: space-between;
}

.gitlab {
    display: flex;
    bottom: 5px;
    width: 5rem;
    height: 5rem;
    transition: 1s ease;
    border-radius: 50%;
}

.gitlab:hover {
    width: 10rem;
    height: 10rem;
    background-color: black;
    border-radius: 50%;
    transform: translate(2rem,-5rem);
}

.footer {
    position: absolute;
    right: 0;
}
